{% extends "crm/main.html" %}
{% block content %}
{% include "crm/status.html" %}
<br>
 <div class="row">
     <div class="col-md-5">
         <h5>Customer</h5>
         <hr>
         <div class=" card card-body">
             <a href="" class="btn btn-primary btn-sm btn-block">Create Customer</a>
             <table>
                 <tr>
                     <th></th>
                     <th>Customer</th>
                     <th>Phone</th>
                 </tr>
                {% for c in customer  %}
                    <tr>
                        <td><a href="{% url 'customer' c.id %}" class="btn btn-info btn-sm">View </a></td>
                        <td>{{c.name}}</td>
                        <td>{{c.Phone}}</td>
                    </tr>
                  
                {% endfor %}
             </table>

         </div>

     </div>
     <div class="col-md-7">
        <h5>Last 5 Orders</h5>
        <hr>
        <div class=" card card-body">
            <a href="{% url 'create_order' %}" class="btn btn-primary btn-sm btn-block">Create Orders</a>
            <table>
                <tr>
                    <th>Products</th>
                    <th>Date Oredered</th>
                    <th>Status</th>
                    
                </tr>
                {% for i in orders %}
                  <tr>
                      <td>{{i.product}}</td>
                      <td>{{i.date_created}}</td>
                      <td>{{i.status}}</td>
                      <td><a href="{% url 'update_order' i.id %}"><input type="button" class="btn btn-info btn-sm-btn-block " value="Update"></a></td>
                      <td><a href="{% url 'delete_order' i.id %}"><input type="button" class="btn btn-danger btn-sm-btn-block " value="Delete"></a></td>

                  </tr>
                {% endfor %}
                
                
            </table>

        </div>

    </div>

 </div>
{% endblock content %}